<h2>Prateleira Selecionada</h2>

<% @prateleira.niveis.each do |q| %>
    <%= image_tag("prateleira_fim.png", :size => "138x63")  %>
    <!--<img src="/images/prateleira_fim.png" height="138" width="63">-->
<% end %>